*{
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Nothing+You+Could+Do&family=Poppins:wght@400;600&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    margin: 0;
    padding: 0;

}
body{
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Kumbh Sans;
    overflow: hidden;
    height: 100vh;
    margin-top: 10vh;
}


.container{
    background-color: #FFFFFF;
    border-radius: 32px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 50px 50px -20px #35127A7F;
    min-height: 70vh;
    min-width: 40vw;
}

.image-mob{
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    margin-top: -100px;
}

.img-mob{
    align-items: center;
}

.img-pattern-mob{
    width: 100%;
    margin-top: -75px;
    align-items: center;
}

.image-desktop{
    display:none;
}

.title{
    text-align:center;
    color: #1E1F36;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
    color: #4B4C5F;
}

.boldText{
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;

}

.boldText:hover{
    color: hsl(14,88%,65%);
}

.question > img{
    margin-left: 75px;
    cursor: pointer;
}

.answer{
    display:none;
    max-width:30vw;
    font-weight: 400;
    font-size: 12px;
    margin: 2% 0;
    margin-right: 20%;
    color: #787887;

}

.questions{
    margin-bottom: 30px;

}

.question1, .question2, .question3, .question4, .question5{
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: #E8E8EA;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 20px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width:1440px){
    body{
        height: 100vh;
    }
    .container{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        padding-left: 0;
    }

    .image-mob{
        display: none;
    }

    .image-desktop{
        /* position: relative; */
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin: 2vh 0;
        width: 472px;
    }

    .img-desktop, .img-pattern-desktop{
        position: absolute;
        width: 472px;
        clip-path: polygon(4vw 0, 100% 0, 100% 100%, 4vw 100%);
        margin-left: -4.05vw;
    }

    .img-box{
        position: absolute;
        margin-left: -4vw;
        margin-top: 11vh;
    }

    .questions{
        width: 50%;
        margin-right: 4vw;
    }

    .title{
        margin: 0 auto 5vh;
    }

    .question{
        font-size: 14px;
        width: 100%;
    }

    .answer{
        font-size: 12px;
        display: none;
        max-width: 20vw;
    }
}